<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account/Transactions Manager</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-app="app">
<!-- /container -->
<div class="container-fluid" ng-controller="AppController as appController">
    <div class="row">
        <!-- account titles -->
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 nopaddings">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-10 col-md-12 col-lg-10">
                        <h4>Accounts:</h4>
                    </div>
                </div>
                <div class="row header hidden-xs">
                    <!-- account titles -->
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <!-- edit -->
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        Account
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        Code
                    </div>
                    <div class="col-sm-4 col-md-2 col-lg-2">
                        <!-- view transactions & delete -->
                    </div>
                </div>
                <accountadd></accountadd>
                <div ng-repeat="account in accounts" ng-class-even="'even'" ng-class-odd="'odd'">
                    <div ng-if="account.edit==true">
                        <accountedit/>
                    </div>
                    <div ng-if="account.edit!=true">
                        <accountview/>
                    </div>
                </div>
                <div class="row">
                    <!-- account titles -->
                    <input type="button" value="Prev Page" class="col-sm-2 col-md-2 col-lg-2" ng-click="appController.prevPage()" ng-show="!isFirstPage">
                    <input type="button" value="Next Page" class="col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-sm-2 col-md-2 col-lg-2" ng-click="appController.nextPage()" ng-show="!isLastPage">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/modules/transactions.js" type="text/javascript"></script>
<script src="js/modules/accounts.js" type="text/javascript"></script>
<script src="js/modules/application.js" type="text/javascript"></script>
</body>
</html>