<div class="row" ng-controller="NewAccountController as newAccountController">
    <div class="col-md-offset-1 col-lg-offset-1 col-md-5 col-lg-5v contentcol">
        <input type="text" ng-model="newAccount.name" placeholder="Enter account name">
    </div>
    <div class="col-md-4 col-lg-4 contentcol">
        <input type="text" ng-model="newAccount.code" placeholder="Enter account code">
    </div>
    <input type="button" value="Add Account" ng-click="newAccountController.addNewAccount()" class="col-md-2 col-lg-2">
</div>