<div ng-controller="EditTransactionController as editTransactionController">
    <div class="row edit">
        <input class="col-md-1 col-lg-1" type="button" value="Cancel" ng-click="editTransactionController.cancelEdit()"/>
        <select class="col-md-1 col-lg-1 contentcol" ng-model="editedTransaction.type"><option value="DEBIT">DEBIT</option><option value="CREDIT">CREDIT</option></select>
        <div class="col-md-1 col-lg-1 contentcol">
            <input type="text" ng-model="editedTransaction.amount">
        </div>
        <input class="col-md-2 col-lg-2 contentcol" type="date" name="transactionDate" ng-model="editedTransaction.date">
        <div class="col-md-7 col-lg-7 contentcol">
            <input type="text" ng-model="editedTransaction.description">
        </div>
    </div>
    <div class="row">
        <input class="col-md-offset-10 col-lg-offset-10 col-md-2 col-lg-2" type="button" value="Save Changes" ng-click="editTransactionController.saveEdit()"/>
    </div>
</div>