<div class="row" ng-controller="TransactionController as transactionController">
    <input type="button" value="Edit" class="col-sm-1 col-md-1 col-lg-1 hidden-xs" ng-click="transactionController.editTransaction()"/>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <label class="hidden-sm hidden-md hidden-lg">Type: </label>{{transaction.type}}
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <label class="hidden-sm hidden-md hidden-lg">Amount: </label>{{transaction.amount}}
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <label class="hidden-sm hidden-md hidden-lg">Date: </label>{{transactionController.getDate()}}
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <label class="hidden-sm hidden-md hidden-lg">Description: </label>{{transaction.description}}
    </div>
    <div class="col-xs-12 visible-xs">
        <input type="button" value="Edit" ng-click="transactionController.editTransaction()"/>
    </div>
</div>