<div ng-controller="NewTransactionController as newTransactionController">
    <form name="newTransactionForm" ng-submit="newTransactionController.addNewTransaction(account.id)">
        <div class="row">
            <label class="col-xs-3 hidden-sm hidden-md hidden-lg">Type: </label>
            <select class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-1 col-md-1 col-lg-1 contentcol" name="type" ng-model="newTransaction.type" ng-options="value for value in transactionTypes"></select>
            <label class="col-xs-3 hidden-sm hidden-md hidden-lg">Amount: </label>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 contentcol" ng-class="{'input-error': newTransactionForm.amount.$invalid && !newTransactionForm.amount.$pristine}">
                <input type="number" name="amount" ng-model="newTransaction.amount" placeholder="Amount" ng-minlength="1" step="1" required>
            </div>
            <label class="col-xs-3 hidden-sm hidden-md hidden-lg">Date: </label>
            <input class="col-xs-12 col-sm-2 col-md-2 col-lg-2 contentcol" type="date" name="date" ng-model="newTransaction.date" required>
            <label class="col-xs-3 hidden-sm hidden-md hidden-lg">Description: </label>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 contentcol" ng-class="{'input-error': newTransactionForm.description.$invalid && !newTransactionForm.type.$pristine && !newTransactionForm.description.$pristine}">
                <input type="text" name="description" ng-model="newTransaction.description" placeholder="Enter transaction description" ng-minlength="3" ng-maxlength="100" required>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Add Transaction" class="col-sm-offset-10 col-md-offset-10 col-lg-offset-10 col-sm-2 col-md-2 col-lg-2" ng-disabled="newTransactionForm.amount.$invalid || newTransactionForm.date.$invalid  || newTransactionForm.type.$pristine || newTransactionForm.description.$invalid">
        </div>
    </form>
</div>